.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
}

.cta-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
}

.cta-button:hover,
.cta-button:focus {
    background: #404bbf;
}

.hero-section {
    background: #2e2f42;
}
