@import "./common.css";
@import "./header.css";
@import "./hero.css";
@import "./features.css";
@import "./team.css";
@import "./portfolio.css";
@import "./footer.css";
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
